In [3]:
import numpy as np 
import pandas as pd 

import dask.dataframe as dd 
import dask.array as da 
import dask.bag as db

#### create a dask object

In [10]:
index = pd.date_range("2021-09-01", periods=2400, freq="1H")
# index
df = pd.DataFrame({"a":np.arange(2400), "b":list("abcaddbe"*300)}, index=index)
ddf = dd.from_pandas(df, npartitions=10)
ddf # this is a dask dataframe with 2 Columns and 2400 rows composed of 10 partitions (240 rows each)
    # each partition represents a piece of the data

Dask DataFrame Structure:
                         a       b
npartitions=10
2021-09-01 00:00:00  int64  object
2021-09-11 00:00:00    ...     ...
...                    ...     ...
2021-11-30 00:00:00    ...     ...
2021-12-09 23:00:00    ...     ...
Dask Name: from_pandas, 1 graph layer

In [17]:
ddf.divisions[1]

Timestamp('2021-09-11 00:00:00', freq='H')

In [19]:
data = np.arange(100_000).reshape(200, 500) # 2D array with shape (200,500) composed of 10 chunks where
                            # each chunk has the shape (100,100) - each chunk is a piece of data
a = da.from_array(data, chunks=(100,100))
a

dask.array<array, shape=(200, 500), dtype=int64, chunksize=(100, 100), chunktype=numpy.ndarray>

In [25]:
a.chunks

((100, 100), (100, 100, 100, 100, 100))

In [26]:
a.blocks[1,4]

dask.array<blocks, shape=(100, 100), dtype=int64, chunksize=(100, 100), chunktype=numpy.ndarray>

#### Distributed Computing

In [28]:
import dask.dataframe as dd 
# df = dd.read_csv(...)
df.x.sum().compute() # this uses a single machine scheduler by default

AttributeError: 'DataFrame' object has no attribute 'x'

In [ ]:
# for distributed scheduler, a Client is neccessary.
from dask.distributed import Client
client = Client()
df.x.sum.compute()